/* font-size */
/* 글자의 크기를 지정 */
/* px는 절대값으로서 픽셀 단위 */
/* 100%는 1em으로, 부모 요소와의 상대적 크기를 지정 */
/* rem은 html 요소와의 상대적 크기, em과 다르게 요소의 중첩에는 영향받지 않음 */
/* pt는 1인치/72로, 프린트할 컨텐츠에 사용됨 */
html {
  font-size: 20px;
}

.em {
  font-size: 2em;
}

.rem {
  font-size: 2rem;
}
