/* 반응형 웹 */
/* 웹 화면은 적응형 웹과 반응형 웹이 있는데 적응형은 화면크기에 따라 다른 페이지를 보여주는 것이고 반응형은 화면 크기에 따라 요소들 크기를 변화시키는 것이다.*/
body {
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;
}
div {
  display: none;
  font-size: 1.4em;
}

/* 스마트폰 */
@media (max-width: 480px) {
  section {
    background-color: tomato;
  }
  .mobile {
    display: inherit;
  }
}

/* 저해상도 태블릿 */
@media (min-width: 481px) and (max-width: 767px) {
  section {
    background-color: olivedrab;
  }
  .low-tablet {
    display: inherit;
  }
}

/* 태블릿 세로 화면 */
@media (min-width: 768px) and (max-width: 1024px) {
  section {
    background-color: darkorchid;
  }
  .port-tablet {
    display: inherit;
  }
}

/* 태블릿 가로 및 저해상도 노트북, PC 화면 */
@media (min-width: 1025px) and (max-width: 1280px) {
  section {
    background-color: darkorange;
  }
  .low-pc {
    display: inherit;
  }
}

/* 일반 노트북, PC 화면 */
@media (min-width: 1281px) {
  section {
    background-color: slateblue;
  }
  .high-pc {
    display: inherit;
  }
}

/* or 조건 사용 */
@media (max-width: 480px), (min-width: 1281px) {
  div {
    color: yellow;
  }
}
