/* 속성 값을 기준으로 선택 */
/* a태그 중에 아래의 링크로 가는 것만 */
a[href="https://www.yalco.kr"]
{
  color: #ff4e00;
  font-weight: bold;
}

/* 특정 속성이 있는 요소 선택 */
/* input 중에 disabled 속성이 있는 것*/
input[disabled] + label {
  color: lightgray;
  text-decoration: line-through;
}

/* *은 포함, ^은 시작, $은 끝나는 */
/* 속성값이 특정 텍스트를 포함하는 요소 */
span[class*='item'] {
  text-decoration: underline;
}

/* 속성값이 특정 텍스트로 시작하는 요소 */
span[class^='fruit'] {
  color: tomato;
}
span[class^='vege'] {
  color: olivedrab;
}

/* 속성값이 특정 텍스트로 끝나는 요소 */
span[class$='-1'] {
  font-weight: bold;
}
